@import "../vendor/loaders.css/loaders.min.css";
@import "../vendor/purecss/src/base/css/base.css";
@import "../vendor/purecss/src/buttons/css/buttons-core.css";
@import "../vendor/purecss/src/buttons/css/buttons.css";
@import "../vendor/purecss/src/tables/css/tables.css";
@import "../vendor/purecss/src/forms/css/forms.css";

* {
  box-sizing: border-box;
}

body {
  font: 16px/1.8 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #414042;
  padding: 5px;
  height: 6vh;
  min-height: 50px;
}

.select-message {
  margin: 0;
  padding: 4vh 0 0 15vw;
}

.game-list-mini-panels {
  float: left;
  width: 10vw;
  height: 94vh;
  min-width: 140px;
  overflow: scroll;
  .game-panel-mini {
    background-color: rgba(180,180,180,0.2);
    border: 1px solid rgba(0,0,0,0.2);
    padding: 8px;
    display: block;
    width: 100%;
    cursor: pointer;

    &:last-child {
      border-right: 0;
    }

    &:hover {
      background-color: rgba(0,0,180,0.4);
    }

    &.selected {
      background-color: rgba(180, 0,0,0.4);
    }
  }
  .home-team, .away-team {
    display: block;
    float: left;
    clear:left;
    width: 80%;

    .team-logo, .team-name, .score {
      float: left;
    }
    .team-logo {
      height: 24px;
    }
    .team-name {
      margin: 0;
      padding: 0 12px;
      font-size: 0.7rem;
    }
    .score {
      margin: 0;
      padding: 0;
      font-size: 0.7rem;
      float: right;
    }
  }
  .home-team {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 4px;
    margin-bottom: 4px;
  }
  .status {
    clear: both;
    text-align: center;
  }
}

.selected-game-panel {
  width: 55vw;
  height: 94vh;
  padding: 2vw;
  float: left;

  .teams {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .home-team, .away-team {
    flex-grow: 1;
    text-align: center;
  }
  .away-team {
    border-right: 1px solid rgba(0,0,0,0.2);
  }
}

.scoreboard table {
  margin: 15px auto;
}

.twitter-posts {
  width: 30vw;
  height: 94vh;
  overflow: scroll;
  padding: 0;
  float: right;

  .post {
    background-color: rgba(180,180,180,0.2);
    border: 1px solid rgba(0,0,0,0.2);
    padding: 8px;
    display: block;
    width: 100%;

    img {
      float: left;
    }

    .user {
      float: left;
      line-height: 48px;
      margin-left: 12px;
    }

    .text {
      clear: both;
    }
  }
}